BasedOnStyle: Microsoft
UseTab: ForIndentation
TabWidth: 4
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
SortIncludes: Never
PointerAlignment: Left
SpaceAfterCStyleCast: false
IndentCaseLabels: false
